<%= form_for(@house) do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% @house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :house_number %><br>
  <%= f.number_field :house_number %><br>

  <p>Outbuilding</p>
 
  <%= f.text_field :custom_fields, multiple: true %>

  <p>People</p>
 <div class="person_fields">
   <div class="field">
    <%= collection_select(:house, :person_id, Person.all, :id, :name) %>
   </div>
 </div>

  <p>Street</p>
 <div class="street_fields">
   <div class="field">
    <%= collection_select(:house, :street_id, Street.all, :id, :street_name) %>
   </div>
 </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
