<p id="notice"><%= notice %></p>

<h1>Listing Houses</h1>

<table>
  <thead>
    <tr>
      <th>House</th>
      <th>Custom Name</th>
      <th>Custom Value</th>
      <th>Person Name</th>
      <th>Street Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.find_each do |house| %>
        <tr>
          <td><%= house.house_number %></td>
          <td><%= house.custom_house.collect(&:custom_name) %></td>
          <td><%= house.custom_house.collect(&:custom_value) %></td>
          <td><%= house.person.collect(&:name) %></td>
          <td><%= house.street.collect(&:street_name) %></td>
          <td><%= link_to 'Show', house %></td>
          <td><%= link_to 'Edit', edit_house_path(house) %></td>
          <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New House', new_house_path %>
